{
	"presets": ["@babel/preset-env"],
	"sourceMaps": "inline",
	"plugins": [
		"@babel/plugin-transform-runtime",
		"@babel/plugin-proposal-class-properties",
		"transform-inline-environment-variables",
		[
			"module-resolver",
			{
				"root": "./src",
				"alias": {
					"@commands": "./commands",
					"@extra": "./extra"
				}
			}
		]
	]
}
