{
	"presets": ["env"],
	"plugins": [
		"transform-runtime",
		"transform-async-to-generator",
		"transform-regenerator",
		"transform-class-properties",
		"babel-plugin-transform-object-rest-spread",
		[
			"module-resolver",
			{
				"root": "./src",
				"alias": {
					"@commands": "./commands",
					"@extra": "./extra"
				}
			}
		]
	]
}
